@page
@model LoginModel
@*@{
        ViewData["Title"] = "Log in";
    }

    <h1>@ViewData["Title"]</h1>*@
<div class="col">
    <div class="row align-content-center LoginUser">
        <div class="col">
            <section>

                <form class="formulario" id="account" method="post">
                    <h4>Iniciar sesión</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group excepcion">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group excepcion">
                        <label asp-for="Input.Password">Contraseña</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="form-group excepcion">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)

                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>
                                <a class="nav-link text-light" id="forgot-password" asp-page="./ForgotPassword">¿Has olvidado tu contraseña?</a>
                            </p>
                            <p>

                            </p>
                        </div>
                    </div>
                    <div class="form-group entrar">
                        <button type="submit" class="btn btn-red">Entrar</button>
                    </div>
                </form>
            </section>
        </div>

    </div>
    <div class="row-4 align-content-lg-center registerLogin">
        <h2 class="col ">
            <a class="nav-link " asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">¡Registrate como nuevo usuario!</a>
        </h2>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
